<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Add book</h1>
    <div>
        <form th:object="${book}" th:action="@{save}" action="#" method="post">
            <p><label for="fname">Title</label></p>
            <input type="text" id="title" th:field="*{title}" />
            
            <p><label for="lname">Author</label></p>
            <input type="text" id="author" th:field="*{author}" />

            <p><label for="year">Year</label></p>
            <input type="text" th:field="*{publicationYear}" />

            <p><label for="isbn">ISBN</label></p>
            <input type="text" th:field="*{isbn}" />

            <p><label for="price">Price</label></p>
            <input type="text" th:field="*{price}" />

            <p><input type="submit" value="Save"></input></p>
    </div>
    </form>
    </div>
</body>

</html>